@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Lobster&family=Overpass:ital@1&display=swap');
.navbar{
    background: linear-gradient(70deg, #0000ff94, #e5526cb8);
}
/* .navbar-right-menu{    
    width: 10%;
    justify-content: space-evenly;    
    margin-right: -60rem;
} */
.userimg img{
    width:32px;
    height:29px;
    border-radius: 15px;
}

.navbar-log-sign{
    width:14%;
    justify-content: space-around;
    font-size: 1.2rem;
}
.navbar-log-sign a{
    text-decoration: none;
    border-radius: 10px;
    padding: 1px 4px 1px 4px;
    color: white;
    border-bottom: 1.5px solid #0000ff94;
    border-left: 1.5px solid #0000ff94;
    font-family: 'Baloo Bhai 2', cursive;
    
}
.active{
    /* background-color:#8351df ; */
    border-radius: 3px !important;
    background: linear-gradient(70deg, #18189994, #f36780b8);

    
    
}
.logout-btn{
  text-decoration: none;
  position: absolute;
  top: 2.4rem;
  right: 0.5rem;
  
  
}

.login-user-info a{
    background-color:#f51d44b8;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 1px 5px 1px 5px;
    background: linear-gradient(70deg, #07076894, #e9153cb8);
}
.login-user-info a:hover{
    background-color:#f34867b8;
}

/* .dropdown .btn{
    padding: 0px 4px 0px 4px;
   
} */
/* .dropdon-menu{
    position: absolute;
    list-style: none; 
    background: linear-gradient(70deg, #0000ff94, #e5526cb8);
    right:1%;  
    top:79%;  
    box-shadow: rgba(89, 99, 240, 0.4);   
   
}
.dropdon-menu li{
    padding: 2px;
    
}
.dropdon-menu li a{
 color:white;
 text-decoration: none;
 
} */